<p>orders works!</p>
<div class="row">
<div class="container">
    <table>
        <tr>
            <th style="background-color: darkseagreen;">Order Id</th>
            <th style="background-color: darkseagreen;">Product Name</th>
            <th style="background-color: darkseagreen;">Price</th>
            <th style="background-color: darkseagreen;">Quantity</th>
        </tr>
        <tr>
            <td>1001</td>
            <td>RayBan</td>
            <td>Rs.3500</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>The Monk Who Sold his Ferrari</td>
            <td>Rs.300</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1003</td>
            <td>Sony Headset</td>
            <td>Rs.3000</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1004</td>
            <td>The Alchemist</td>
            <td>Rs.400</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1005</td>
            <td>The Monk Who Sold his Ferrari</td>
            <td>Rs.300</td>
            <td>1</td>
        </tr>
        <tr>
            <th colspan="2">Total Price of the Products</th>
            <td colspan="2">Rs.7500</td>
        </tr>
    </table>
    <button (click)="orderPlaced()"class="btn btn-success" style="width: 485px;margin-top: 10px;">Place Order</button>
</div>

</div>
